<div class="lifecycle-container">
  <h1>Angular Lifecycle Hooks</h1>
  <div class="events-log">
    <h2>Eventos do Ciclo de Vida</h2>
    <ul>
      <li>ngOnChanges: {{ ngOnChangesCount }}</li>
      <li>ngOnInit: {{ ngOnInitCount }}</li>
      <li>ngDoCheck: {{ ngDoCheckCount }}</li>
      <li>ngAfterContentInit: {{ ngAfterContentInitCount }}</li>
      <li>ngAfterContentChecked: {{ ngAfterContentCheckedCount }}</li>
      <li>ngAfterViewInit: {{ ngAfterViewInitCount }}</li>
      <li>ngAfterViewChecked: {{ ngAfterViewCheckedCount }}</li>
      <li>ngOnDestroy: {{ ngOnDestroyCount }}</li>
    </ul>
  </div>
  <div class="input-example">
    <label for="inputProperty">Propriedade &#64;Input:</label>
    <input id="inputProperty" [(ngModel)]="inputProperty" placeholder="Digite algo para disparar ngOnChanges" />
  </div>

  <ng-content></ng-content>

  <!-- 
  Teste do ngDoCheck
  <button (click)="updateInputProperty()">Atualizar Propriedade</button>
  <span>{{ soma }}</span>
  <span>{{ soma2 }}</span> -->
</div>